{% extends 'global/base.html' %}
{% block title %}Delete{% endblock title %}
{% block content %}
{% if messages %}
{% include 'global/partials/messages.html' %}
{% endif %}
<h1 class='title'>Apagar o Contato: {{ contato.nome_completo }}</h1>
<div class="delete">
    <h3>Tem certeza que deseja apagar o contato?</h3>
    <form action="{% url 'agenda:delete' contato.id %}" method="post">
        {% csrf_token %}
        <button class='btn-s' type="submit">Apagar</button>
    </form>
</div>
<a class='btn-p' href="{% url 'agenda:list' %}">Voltar</a>
{% endblock content %}